# Fuel Quality Data Exploration

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

## Question 1

If youâ€™re given two lists:
A = [1,2,3,4,5,6], B = [13, 21, 34]
The task is to create a list with the elements of A and B in a single dimension with output:
A_B =  [1,2,3,4,5,6,13, 21, 34]
Which of the following option is the best way to create this list?

In [2]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]

In [5]:
print(A.append(B))

None

In [6]:
print(A.extend(B))

None

##  Question 2

How do you create an identity matrix in python?

In [53]:
A.append[B]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [54]:
A.extend[B]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [55]:
eye(3)

NameError: name 'eye' is not defined

## Question 3

Which of the following fuel type code has the lowest average fuel cost per unit burned?

In [14]:
fuel_data = pd.read_csv('fuel_data.csv')
fuel_data.head()
fuel_data.shape

(29523, 11)

In [15]:
fuel_data.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [16]:
fuel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  int64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(4), int64(3), object(4)
memory usage: 2.0+ MB

In [17]:
fuel_data.groupby(["fuel_type_code_pudl"])["fuel_cost_per_unit_burned"].mean().sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 4

What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?

In [22]:
fuel_data['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

## Question 5

What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

In [29]:
skewness = fuel_data.skew()['fuel_qty_burned']
round(skewness, 2)

15.85

In [30]:
kurtosis = fuel_data.kurtosis()['fuel_qty_burned']
round(kurtosis, 2)

651.37

## Question 6

Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places? 
(Enter answer in the format: Feature: xxx, Total: xxx, Percent: xxx)

In [41]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [42]:
percent = ((fuel_data['fuel_unit'].isnull().sum()/ len(fuel_data['fuel_unit']))) * 100
print(percent)

0.609694136774718

## Question 7

The feature with missing values falls under what category? What missing value imputation technique would you use?

In [47]:
fuel_data['fuel_unit'].fillna('mcf', inplace=True)
fuel_data['fuel_unit'].value_counts()

mcf       11534
ton        8958
bbl        7998
gramsU      464
mmbtu       180
kgU         110
mwhth       100
mwdth        95
gal          84
Name: fuel_unit, dtype: int64

## Question 8

Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?

In [46]:
matrix = fuel_data.corr()
correlation = matrix['fuel_cost_per_unit_burned']
correlation.sort_values(ascending=False)

fuel_cost_per_unit_burned       1.000000
report_year                     0.013599
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu            -0.000437
fuel_mmbtu_per_unit            -0.010034
fuel_qty_burned                -0.018535
utility_id_ferc1               -0.037863
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 9

For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?

In [49]:
yearly_fuel_cost_per_unit_burned = fuel_data.groupby(['fuel_type_code_pudl','report_year'])['fuel_cost_per_unit_burned'].sum()
print(yearly_fuel_cost_per_unit_burned)
percentage_change = round(((11902.597-14984.572)/14984)*100,0)
print(percentage_change)

fuel_type_code_pudl  report_year
coal                 1994           14984.572
                     1995           14571.785
                     1996           12694.803
                     1997           43742.178
                     1998           11902.597
                                      ...
waste                2014             591.594
                     2015             629.270
                     2016             539.079
                     2017             452.079
                     2018             660.972
Name: fuel_cost_per_unit_burned, Length: 148, dtype: float64
-21.0

## Question 10

Which year has the highest average fuel cost per unit delivered?

In [44]:
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending=False)

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
2015      326.535511
1998      287.154420
2014      192.737183
2013      172.307591
2004      139.524275
2016      103.901761
2010       91.862105
1994       63.636060
2012       60.994502
2001       60.050396
2011       59.774667
2008       58.588197
2003       55.663493
2002       47.594361
2017       46.196861
2007       43.325023
2005       41.438184
2006       38.657484
1995       32.735269
1999       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64